.container_href{
    position: absolute;
    width: 30vw;
    height: 5vh;
    left: 115px;
    top: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px
}

.initial_page_link{
    font-size: 28px;
    color: var(--blue);
    
}

.requeriments_link,
.legislators_link{
    font-size: 28px;
    color: var(--infos);
 
}

.location_icon_and_city{
    position: absolute;
    width: 5vw;
    height: 3vh;
    left: 938px;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.location_icon {
    color: var(--infos) !important;
}


.comunity_icon_and_comunity{
    position: absolute;
    width: 4vw;
    height: 3vh;
    left: 1138px;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.comunity_icon {
    color: var(--infos) !important;
}


.city,
.comunity{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: var(--descriptions);
}

.city_button{
    position: absolute;   
    left: 925px;
    top: 73px;
}

.city_button_style{
    width: 13vw;
    height: 3vh;
    box-shadow: var(--infos);
    background-color: var(--background-requirements);
    color: var(--infos);
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: var(--background-requirements) var(--background-requirements) var(--infos) var(--background-requirements);
}

.comunity_button{
    position: absolute;
    left: 1115px;
    top: 73px;
}

.comunity_button_style{
    width: 8vw;
    height: 3vh;
    box-shadow: var(--infos);
    background-color: var(--background-requirements);
    color: var(--infos);
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: var(--background-requirements) var(--background-requirements) var(--infos) var(--background-requirements);
}

