@media(max-width: 1000px){
  .box-info {
    flex-direction: column;
  }
}

@media(max-width: 745px){
  .carrossel {
    overflow-x: auto;
  }

  .right .boxComments {
    height: 260px;
  }
}

@media(max-width: 470px){
  .header-profile {
    flex-direction: column;
    gap: 24px;
  }

  .status {
    flex-direction: column-reverse;
  }

  .status h4 {
    text-align: center;
  }

  .box > small {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }

  .header-title {
    flex-direction: column;
  }
}