@media(max-width: 745px){
  .box {
    width: 96vw;
    height: 92vh;
  }
}

@media(max-width: 610px){
  .box {
    padding: 15px;
  }
}

@media(max-width: 470px){
  .box {
    padding: 22px 14px !important;
  }
}
